body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f6fa;   
  color: #333;                 
}


header {
  background-color: #000000;  
  color: white;
  text-align: center;
  padding: 20px;
}


section.about {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  background-color: #ffffff; 
  color: #333333;              
  font-size: 1.25em;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.achievements {
  background-color: #ffffff;
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.achievements h2 {
  color: #004aad;
}

.achievements ul {
  line-height: 1.8em;
}

footer {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
  font-size: 0.9em;
}

